<?xml version="1.0" encoding="UTF-8"?>
<config>
	<hash_semilla></hash_semilla>
    <ip_master></ip_master>
    <cors>
		<url></url>
	</cors>
	<token>
		<key></key>
		<exp></exp>
	</token>
	<api>
		<ipinfo></ipinfo>
        <digital_gob_dpa></digital_gob_dpa>
	</api>
	<databases>
		<digitalpost>
			<dsn></dsn>
			<user></user>
			<psw></psw>
		</digitalpost>
	</databases>
</config>