<?xml version="1.0" encoding="UTF-8"?>
<config>
	<hash_semilla>880236ae1ac5ba196b8267581f2160</hash_semilla>
	<ip_master>
		<url>179.60.76.152</url>
		<url>152.230.3.231</url>
	</ip_master>
	<cors>
		<url>https://digitalpost.biotecnochile.cl</url>
		<url>https://digitalpostclient.biotecnochile.cl</url>
	</cors>
	<token>
		<key>76672ef1cc3d9e96880236ae1ac5ba196b8267581f2160c46a633a3b1cdbbc2d</key>
		<exp>7200</exp> <!-- 2 horas -->
	</token>
	<api>
		<ipinfo>https://ipinfo.io/json</ipinfo>
		<digital_gob_dpa>https://apis.digital.gob.cl/dpa/comunas</digital_gob_dpa>
	</api>
	<databases>
		<digitalpost>
			<dsn>mysql:host=localhost;port=3306;dbname=cbi43121_digitalpost;charset=utf8mb4</dsn>
			<user>cbi43121_digitalpost</user>
			<psw>m^)5ras?4hPt</psw>
		</digitalpost>
	</databases>
</config>