<?xml version="1.0" encoding="UTF-8"?>
<config>
	<hash_semilla>880236ae1ac5ba196b8267581f2160</hash_semilla>
    <ip_master>
        <url>192.168.50.10</url>
        <url>::1</url>
        <url>192.168.50.136</url>
    </ip_master>
	<cors>
		<url>http://localhost:8080</url>
		<url>https://digitalpost.biotecnochile.cl</url>
		<url>https://digitalpostclient.biotecnochile.cl</url>
	</cors>
	<token>
		<key>76672ef1cc3d9e96880236ae1ac5ba196b8267581f2160c46a633a3b1cdbbc2d</key>
		<exp>7200</exp> <!-- 2 horas -->
	</token>
	<api>
		<ipinfo>https://ipinfo.io/json</ipinfo>
		<digital_gob_dpa>https://apis.digital.gob.cl/dpa/comunas</digital_gob_dpa>
	</api>
	<databases>
		<digitalpost>
			<dsn>mysql:host=127.0.0.1;port=3306;dbname=digitalpost;charset=utf8mb4</dsn>
			<user>root</user>
			<psw>rootroot</psw>
		</digitalpost>
	</databases>
</config>